{% extends "base.html" %} {% block content %} {% load storecart_templatetags %}
<div class="container">
	<div class="row">
		<div class="col-md-8 mx-auto">
			<div class="border rounded p-4 m-4">
				<h2>Cart Details</h2>
				<div class="table-responsive">
					<table class="table table-primary">
						<thead>
							<tr>
								<th scope="col">Sl. No.</th>
								<th scope="col">Product</th>
								<th scope="col">Name</th>
								<th scope="col">Price</th>
								<th scope="col">Quntity</th>
								<th scope="col">Total</th>
							</tr>
						</thead>
						<tbody>
							{% for product in products %}
							<tr class="">
								<td scope="row">{{forloop.counter}}</td>
								<td>
									<img
										src="{{ product.image.url}}"
										alt="{{ product.name}}"
										class="rounded-circle"
										height="50"
										width="50" />
								</td>
								<td>{{ product.name}}</td>
								<td>{{ product.price|currency }}</td>
								<td>
									{{ product|cart_quantity:request.session.cart|currency}}
								</td>
								<td>{{ product|price_total:request.session.cart|currency}}</td>
							</tr>

							{% endfor %}
						</tbody>
						<tfoot>
							<th colspan="4"></th>
							<th>Total</th>
							<th>
								{{ products|total_cart_price:request.session.cart|currency}}
							</th>
						</tfoot>
					</table>
				</div>
				<div class="m-3 p-3 d-flex justify-content-end">
					<!-- Button trigger modal -->
					<button
						type="button"
						class="btn btn-primary"
						data-bs-toggle="modal"
						data-bs-target="#staticBackdrop">
						Check out
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div
	class="modal fade"
	id="staticBackdrop"
	data-bs-backdrop="static"
	data-bs-keyboard="false"
	tabindex="-1"
	aria-labelledby="staticBackdropLabel"
	aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="staticBackdropLabel">
					Check Out Form
				</h1>
				<button
					type="button"
					class="btn-close"
					data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form action="/checkout" method="POST">
					{% csrf_token %}
					<div class="mb-3">
						<label for="phone" class="form-label">Phone No</label>
						<input
							type="tel"
							name="phone"
							id="phone"
							class="form-control"
							placeholder="Phone no" />
					</div>
					<div class="mb-3">
						<label for="address" class="form-label">Address</label>
						<input
							type="text"
							name="address"
							id="address"
							class="form-control"
							placeholder="Address" />
					</div>

					<button type="submit" class="btn btn-primary">Check out</button>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
					Close
				</button>
			</div>
		</div>
	</div>
</div>

{% endblock content %}
