
{% extends "base.html" %} {% block content %}
{% load static  %}
<link rel="stylesheet" type="text/css" href="{% static 'codemirror/lib/codemirror.css' %}">
<link rel="stylesheet" type="text/css" href="path/to/codemirror/theme/monokai.css">
<script type="text/javascript" src="{% static 'codemirror/lib/codemirror.js' %}"></script>
<div class="container">
	<div class="row my-4">
        {% for post in posts %}
		<div class="col-md-12 mx-auto border rounded m-2">
			<h3 class="alert alert-light ">{{ post.title }}</h3>
            <p>Category : {{ post.category}}</p>
            <p>Subcategory : {{ post.subcategory}}</p>
            <textarea name="code" class="code" cols="170" rows="20">
                {{ post.content}}
            </textarea>
		</div>
        {% endfor %}
	</div>
</div>
<script>
    function qsa(sel) {
        return Array.apply(null, document.querySelectorAll(sel));
    }
    qsa(".code").forEach(function (editorEl) {
        CodeMirror.fromTextArea(editorEl, {
            lineNumbers: true,
            styleActiveLine: true,
            matchBrackets: true,
            theme: 'neat',
        });
    });
</script>
{% endblock content %}
